apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Egorict/K8s.git
    targetRevision: HEAD
    path: {{ chart_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace | default('default') }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true